body {
  min-height:736px;
  min-width:414px;
  margin: 0 auto;
}

p{
    margin:0;
}

/*.StatusBar{
	width:100%;
	height: 40px;
	background-color: #000;
	position: fixed;
    top: 0;
}*/

/*Login Page*/

.main_Login{
    width:100%;
    height:1743px;
    background-color:#2e2e2e;
}

.AppLogoLoginContainer{
    width: 100%;
    height:600px;

}

.AppLogoLogin{
    width: 350px;
    height: 350px;
    margin: 0 auto;
    background-image: url(images/AppLogo.png);
    background-size: Cover;
    position: relative;
    top: 130px;
}

.EmailPassword{
    width: 100%;
    height:550px;
 
}

.Email{
    width: 80%;
    height: 150px;
    margin: 0 auto;
    border:0;
}

.Email input{
    width: 100%;
    height: 130px;
    background-color: #fff;
    border-style: solid;
    font-family: Arial;
    font-size: 36pt;
    color: #a4a4a4;
    border-width: 0px;
    border-color: transparent;
}

.Email input:focus{
    border-width: 10px;
    border-color: #1fbba6;
}

.Password{
    width: 80%;
    height: 150px;
    margin: 0 auto;
    position: relative;
    top: 50px;
}

.Password input{
    width: 100%;
    height: 130px;
    background-color: #fff;
    border-style: solid;
    font-family: Arial;
    font-size: 36pt;
    color: #a4a4a4;
    border-width: 0px;
    border-color: transparent;

}

.Password input:focus{
    border-width: 10px;
    border-color: #1fbba6;
}

.ShowPassword{
    width: 80%;
    height: 100px;
    margin: 0 auto;
    top: 80px;
    position: relative;
}

.ShowPassword label { 
    font-family: Helvetica;
    font-weight: bold;
    font-size: 26pt; 
    color:#7b7b7b;

}

.ShowPassword input[type="checkbox"]{
    display: none;
}

.ShowPassword input[type="checkbox"]+label {
    display: inline-block;
    width: 50%;
    position: relative;
}

.ShowPassword label::before {
    content: "";
    display: inline-block;
    width: 60px;
    height: 60px;
    background:url(images/UnShowPassword.png) no-repeat;
    background-size: Cover;
    vertical-align: middle;
    margin-right: 10px;
    -webkit-box-sizing:border-box;
}

.ShowPassword input[type="checkbox"]:checked+label::before{
    background:url(images/ShowPassword.png) no-repeat;
    background-size: Cover;
}

.ForgotPassword{
    font-family: Helvetica;
    font-weight: bold;
    font-size: 26pt; 
    color:#7b7b7b;
    float: right;
}

.LoginPageButton{
    width: 100%;
    height:500px;
    position: relative;
    margin:0 auto;
}

.LoginButton{
    width:80%;
    height: 150px;
    background-color: #fff;
    color:#1fbba6;
    font-family: Helvetica;
    font-size: 42pt;
    text-align: center;
    margin: 0 auto;
    line-height: 150px;
}

.CreateAccount{
    width:80%;
    height: 150px;
    background-color: #1fbba6;
    color:#FFF;
    font-family: Helvetica;
    font-size: 42pt;
    text-align: center;
    margin: 0 auto;
    line-height: 150px;
    position: relative;
    top:50px;
}

.SocialMediaAccount{
    width:80%;
    height: 180px;
    color:#FFF;
    font-family: Helvetica;
    font-size: 32pt;
    text-align: center;
    margin: 0 auto;
    line-height: 180px;
    position: relative;
    top:50px;
}





/*Onboarding Q1*/

.Q1Container{
    width: 92%;
    height: 1100px;
    position: relative;
    top: 30px;
    margin-left: auto;
    margin-right: auto;
}

.Q1TitleContainer{
    width: 100%;
    height: 300px;
    background: #1fbba6;
    position: relative;
}

.Q1Title{
    font-family: Arial;
    font-size: 42pt;
    font-weight: bold;
    text-align: center;
    color: #1e5048;
    line-height: 70px;
    top: 85px;
    position: relative;
}

.Q1Background{
    width: 100%;
    height: 800px;
    background: #fff;
    position: relative;
}

.QuestionTitle{
    width: 100%;
    height:180px;
    position: relative;
    font-family: Arial;
    font-size: 42pt;
    text-align: center;
    color: #1e5048;
    line-height: 200px;
}

.Gernder{
    width: 100%;
    height:180px;
    position: relative;
    font-family: Arial;
    font-size: 40pt;
    text-align: center;
    color: #1e5048;
    line-height: 150px;
}

input[type='radio'].radio {
    opacity: 0;
    display: inline-block;
    height: 60px; 
}

label.radio {
    background: url(images/Radio.png) no-repeat;
    height: 60px;
    padding-left: 100px;
    margin-left: 60px;
    margin-right: 60px;
}

input[type='radio'].radio:checked + .radio {
    background:url(images/Radio_Check.png) no-repeat;
}

.Birth{
    width: 100%;
    height:200px;
    text-align: center;
    line-height: 210px;
}

.Birth input{
    width: 60%;
    height: 130px;
    background-color: #fff;
    border-style: solid;
    border-width: 5px;
    border-color: #338378;
    text-align: center;
    font-family: Arial;
    font-size: 50pt;
    color: #338378;
}

.Dots{
    width: 30%;
    height: 70px;
    position: relative;
    top: 100px;
    margin: 0 auto;
}

.DotSelect{
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background-color: #1fbba6;
    border-style: solid;
    border-width: 5px;
    border-color: #1fbba6;
    float: left;
}

.Dot1{
    border-radius: 50%;
    width: 25px;
    height: 25px;
    border-style: solid;
    border-width: 5px;
    border-color: #FFF;
    float: left;
    margin-left: 18%;
}

.Dot2{
    border-radius: 50%;
    width: 25px;
    height: 25px;
    border-style: solid;
    border-width: 5px;
    border-color: #FFF;
    float: left;
    margin-left: 18%;
}

.Dot3{
    border-radius: 50%;
    width: 25px;
    height: 25px;
    border-style: solid;
    border-width: 5px;
    border-color: #FFF;
    float: right;
}

.Next{
    width: 100%;
    height: 180px;
    top: 140px;
    position: relative;
}

.NextButton{
    width: 70%;
    height: 150px;
    color: #1e4f48;
    background-color: #1fbba6;
    border-style: solid;
    border-width: 15px;
    border-color: #fff;
    margin: 0 auto;
    font-family: Arial;
    font-size: 50pt;
    text-align: center;
    line-height: 150px;
}


/*Onboarding Q2*/
.Q2Dot1{
    border-radius: 50%;
    width: 25px;
    height: 25px;
    border-style: solid;
    border-width: 5px;
    border-color: #FFF;
    float: left;
}

.Q2DotSelect{
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background-color: #1fbba6;
    border-style: solid;
    border-width: 5px;
    border-color: #1fbba6;
    float: left;
    margin-left: 18%;
}

.Q2Dot2{
    border-radius: 50%;
    width: 25px;
    height: 25px;
    border-style: solid;
    border-width: 5px;
    border-color: #FFF;
    float: left;
    margin-left: 18%;
}

.Q2Dot3{
    border-radius: 50%;
    width: 25px;
    height: 25px;
    border-style: solid;
    border-width: 5px;
    border-color: #FFF;
    float: right;
}

#Q-container {
    margin: 0 auto;
    height: 700px;
    width: 80%;
    top: 65px;
    position: relative;
}
#accordion input {
    display: none;
}

#accordion label {
    width: 100%;
    height: 170px;
    line-height: 170px;
    font-size: 38pt;
    text-align: center;
    font-family: Arial;
    color:#1e4f48;
    border-radius: 0;
    border: 5px solid;
    border-color: #338378;
    display: block;
    margin-bottom: 65px;
}

#accordion input:checked + label {
    background: #338378;
    color: white;
}


/*Onboarding Q3*/
.Q3Dot1{
    border-radius: 50%;
    width: 25px;
    height: 25px;
    border-style: solid;
    border-width: 5px;
    border-color: #FFF;
    float: left;
}

.Q3Dot2{
    border-radius: 50%;
    width: 25px;
    height: 25px;
    border-style: solid;
    border-width: 5px;
    border-color: #FFF;
    float: left;
    margin-left: 18%;
}

.Q3DotSelect{
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background-color: #1fbba6;
    border-style: solid;
    border-width: 5px;
    border-color: #1fbba6;
    float: left;
    margin-left: 18%;
}

.Q3Dot3{
    border-radius: 50%;
    width: 25px;
    height: 25px;
    border-style: solid;
    border-width: 5px;
    border-color: #FFF;
    float: right;
}



/*Onboarding Q4*/
.Q4Title{
    font-family: Arial;
    font-size: 42pt;
    font-weight: bold;
    text-align: center;
    color: #1e5048;
    line-height: 70px;
    top: 50px;
    position: relative;
}

.Q4Dot1{
    border-radius: 50%;
    width: 25px;
    height: 25px;
    border-style: solid;
    border-width: 5px;
    border-color: #FFF;
    float: left;
}

.Q4Dot2{
    border-radius: 50%;
    width: 25px;
    height: 25px;
    border-style: solid;
    border-width: 5px;
    border-color: #FFF;
    float: left;
    margin-left: 18%;
}

.Q4Dot3{
    border-radius: 50%;
    width: 25px;
    height: 25px;
    border-style: solid;
    border-width: 5px;
    border-color: #FFF;
    float: left;
    margin-left: 18%;
}

.Q4DotSelect{
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background-color: #1fbba6;
    border-style: solid;
    border-width: 5px;
    border-color: #1fbba6;
    float: right;
}

.ReasonCheckbox { 
    width: 100%;
    height: 800px;
    position: relative;
    font-family: Arial;
    color: #1e5048;
    line-height: 125px;
}

.ReasonCheckbox label { 
    font-size: 40pt; 
}

.ReasonCheckbox input[type="checkbox"]{
    display: none;
}

.ReasonCheckbox input[type="checkbox"]+label {
    display: inline-block;
    width: 70%;
    margin: 0 auto;
    text-align: left;
    position: relative;
    left: 17%;
    top: 75px;
}

.ReasonCheckbox label::before {
    content: "";
    display: inline-block;
    width: 60px;
    height: 60px;
    background:url(images/Radio.png) no-repeat;
    vertical-align: middle;
    margin-right: 90px;
    -webkit-box-sizing:border-box;
}

.ReasonCheckbox input[type="checkbox"]:checked+label::before{
    background:url(images/Radio_Check.png) no-repeat;

}




/*Courses*/

.NavBar{
	width:100%;
	height: 132px;
	background-color: #FFF;
	position: fixed;
    top: 0px;
}

.hamburger{
    width: 70px;
    height: 63px;
    background-image: url(images/HamburgerMenu.png);
    background-size: Cover;
    position: absolute;
    left: 32px;
    top: 35px;

}

.AppName{
    font-family: Segoe UI;
    font-size: 18pt;
    color: #338378;
    text-align: center;
    padding-top: 33px;
    padding-bottom: 33px;
}

h1{
	margin:0;
}


.main{
	height: 1870px;
	background-color: #338378;
	position: relative;
    top: 132px;
}

.main2{
    height: 1610px;
    background-color: #338378;
    position: relative;
    top: 132px;
}

.MyCoursesContainer{
	width: 92%;
	height:600px;
	position: relative;
	top: 30px;
	margin-left: auto;
    margin-right: auto;
}

.MyCoursesTitle{
    width: 100%;
    background: #1fbba6;
    font-family: Arial;
    font-size: 16pt;
    text-align: center;
    color: #FFF;
    position: relative;
    padding-top: 45px;
    padding-bottom: 45px;
}

.HomeLine{
    width: 100%;
    height: 15px;
    background: #1e5048;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.MyCoursesList{
    width: 100%;
    height: 420px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.MyCoursesListItem{
    width: 100%;
    background: #FFF;
    position: relative;
    padding-top: 45px;
    padding-bottom: 45px;
    margin-top: 10px;
}

.MyCoursesName{
    font-family: Arial;
    font-size: 26pt;
    color: #338378;
    padding-left: 40px;
    text-decoration: none;
}

.MyCoursesButton{
    width: 45px;
    height: 45px;
    background-image: url(images/CoursesDetialButton.png);
    background-size: Cover;
    position: absolute;
    right: 40px;
}

.MoreCoursesContainer{
	width: 92%;
	height:1050px;
	position: relative;
	top: 50px;
	margin-left: auto;
    margin-right: auto;
}

.MoreCoursesTitle{
    width: 100%;
    background: #1fbba6;
    font-family: Arial;
    font-size: 16pt;
    text-align: center;
    color: #FFF;
    position: relative;
    padding-top: 45px;
    padding-bottom: 45px;
}

.MoreCoursesList{
	width: 100%;
	height:1000px;
	margin-left: auto;
    margin-right: auto;
}

.MoreCoursesListItem{
    width: 420px;
    height: 420px;
    margin: 15px;
    float: left;
}

.MoreCoursesPic1{
	width: 420px;
    height: 420px;
    background-image: url(images/IG-Strength.jpg);
    background-size: Cover;
    position: absolute;
}

.MoreCoursesPic2{
	width: 420px;
    height: 420px;
    background-image: url(images/IG-Cardio.jpg);
    background-size: Cover;
    position: absolute;
}

.MoreCoursesPic3{
	width: 420px;
    height: 420px;
    background-image: url(images/IG-Stretching.jpg);
    background-size: Cover;
    position: absolute;
}

.MoreCoursesPic4{
	width: 420px;
    height: 420px;
    background-image: url(images/IG-Yoga.jpg);
    background-size: Cover;
    position: absolute;
}

.TabBar{
	width: 100%;
	height: 162px;
	background-color: #1e4f48;
	position:fixed;
    bottom:0;
}

.TabBarLine{
	width: 100%;
	height: 15px;
	background-color: #1fbba6;
}

.TabBarButtonContainer{
    width: 100%;
    height: 147px;
}

.TabBarButton{
	float: left;
	width: 25%;
    height: 147px;
}

.Courese{
    width: 100px;
    height: 100px;
    background-image: url(images/Courses.png);
    background-size: Cover;
    margin-top: 25px;
    position: absolute;
    margin-left: 7%;
    margin-right: 7%;
}

.MyPlan{
    width: 100px;
    height: 100px;
    background-image: url(images/MyPlan.png);
    background-size: Cover;
    margin-top: 25px;
    position: absolute;
    margin-left: 7%;
    margin-right: 7%;
}

.MyState{
    width: 100px;
    height: 100px;
    background-image: url(images/MyState.png);
    background-size: Cover;
    margin-top: 25px;
    position: absolute;
    margin-left: 7%;
    margin-right: 7%;
}

.Circle{
    width: 100px;
    height: 100px;
    background-image: url(images/Circle.png);
    background-size: Cover;
    margin-top: 25px;
    position: absolute;
    margin-left: 7%;
    margin-right: 7%;
}

.Courese_h{
    width: 100px;
    height: 100px;
    background-image: url(images/Courses_h.png);
    background-size: Cover;
    margin-top: 25px;
    position: absolute;
    margin-left: 7%;
    margin-right: 7%;
}

.MyPlan_h{
    width: 100px;
    height: 100px;
    background-image: url(images/MyPlan_h.png);
    background-size: Cover;
    margin-top: 25px;
    position: absolute;
    margin-left: 7%;
    margin-right: 7%;
}

.MyState_h{
    width: 100px;
    height: 100px;
    background-image: url(images/MyState_h.png);
    background-size: Cover;
    margin-top: 25px;
    position: absolute;
    margin-left: 7%;
    margin-right: 7%;
}

.Circle_h{
    width: 100px;
    height: 100px;
    background-image: url(images/Circle_h.png);
    background-size: Cover;
    margin-top: 25px;
    position: absolute;
    margin-left: 7%;
    margin-right: 7%;
}


/*My Plan*/

.MyPlanForTodayContainer{
	width: 92%;
    height: 750px;
    position: relative;
    top: 30px;
    margin-left: auto;
    margin-right: auto;
}

.MyPlanForTodayLine{
    width: 100%;
    height: 30px;
    background: #1fbba6;
    position: relative;
}

.MyPlanForTodayBackground{
	width:100%;
	height:720px;
	background-color: #fff;
	position: relative;
}

.MyPlanForTodayTitle{
	width: 100%;
	height: 195px;
	font-family: Arial;
	font-size: 28pt;
	font-weight: bold;
	text-align: center;
	color:#1e5048;
	line-height: 195px;
}

.MyPlanForTodayTitleLine{
    width: 84%;
    height: 3px;
    background-color: #1fbba6;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.MyPlanForTodayInfo{
	width: 70%;
	height: 375px;
    position: relative;
    margin: 0 auto;
}

.MyPlanForTodayInfoText{
    width: 70%;
    height: 365px;
    float: left;
    font-family: Arial;
    font-size: 26pt;
    color: #338378;
    padding-top: 10px;
}

.MyPlanForTodayButtonContainer{
    width: 40px;
    height: 320px;
    position: relative;
    float: right;
    margin-top: 40px;
}

.MyPlanForTodayButton{
    width: 60px;
    height: 60px;
    background-image: url(images/Check.png);
    background-size: cover;
    float: right;
    margin-bottom: 15px;
}

.MyPlanForTodayProgress{
	width: 84%;
	height: 150px;
    position: relative;
    margin: 0 auto;
}

.MyPlanForTodayProgressBackground{
	width: 100%;
	height:45px;
	background-color: #338373;
    position: relative;
    top: 10px;
}

.MyPlanForTodayProgressScale{
	width: 100%;
	height: 45px;
}

.I{
	width: 1px;
	height: 45px;
	background-color: #fff;
	margin-left: 3.1%;
	float: left;
}

.MyPlanForTodayProgressRed{
	width: 20%;
	height: 45px;
	background-color:#ff866e;
	position: absolute;
}

.MyPlanForTodayProgressText{
    width: 100%;
    height: 70px;
    position: relative;
    top: 30px;
}

.MyPlanForTodayProgressTextLeft{
    position: relative;
    float: left;
    font-family: Arial;
    font-size: 20pt;
    color: #338378;
}

.MyPlanForTodayProgressTextRight{
	position: relative;
    float: right;
    font-family: Arial;
    font-size: 20pt;
    color: #338378;
}

.StartContainer{
    width: 100%;
    height: 670px;
    position: relative;
    top: 30px;
}

.StartButtonContainer{
    width: 420px;
    height: 420px;
    position: relative;
    top: 90px;
    text-align: center;
    margin: 0 auto;
}

.StartButton{
    width: 420px;
    height: 420px;
    background-image: url(images/StartButton.png);
    background-size: Cover;
    float: left;
}

.CourseTime{
    width: 100%;
    height: 50px;
    font-family: Arial;
    font-size: 26pt;
    color: #fff;
    text-align: center;
    position: relative;
    top: 130px;
}



