body {
  min-height:736px;
  min-width:414px;
  margin: 0 auto;
}

p{
    margin:0;
}

/*.StatusBar{
	width:100%;
	height: 40px;
	background-color: #000;
	position: fixed;
    top: 0;
}*/


/*Nav Bar*/
.NavBar{
    width:100%;
    height: 132px;
    background-color: #FFF;
    position: fixed;
    top: 0px;
}

.hamburger{
    width: 70px;
    height: 63px;
    background-image: url(images/HamburgerMenu.png);
    background-size: Cover;
    position: absolute;
    left: 32px;
    top: 35px;

}

.back{
    width: 70px;
    height: 70px;
    background-image: url(images/Back.png);
    background-size: Cover;
    position: absolute;
    left: 32px;
    top: 32px;

}

.amend{
    width: 70px;
    height: 70px;
    background-image: url(images/amend.png);
    background-size: Cover;
    position: absolute;
    right: 32px;
    top: 32px;
}

.music{
   width: 65px;
    height: 70px;
    background-image: url(images/music.png);
    background-size: Cover;
    position: absolute;
    right: 32px;
    top: 32px; 
}

.camera{
    width: 80px;
    height: 70px;
    background-image: url(images/camera.png);
    background-size: Cover;
    position: absolute;
    right: 32px;
    top: 32px; 
}

.AppName{
    font-family: Segoe UI;
    font-size: 18pt;
    color: #338378;
    text-align: center;
    padding-top: 33px;
    padding-bottom: 33px;
}

h1{
    margin:0;
}



/*Side Menu*/
.sidenav {
    height: 1736px;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top:134px;
    background-color: #000;
    opacity:0.6;
    overflow-x: hidden;
    transition: 0.5s;
}

.mySidenavContainer{
    width: 60%;
    height: 1736px;
    background-color: #1fbba6;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #FFF;
    display: block;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    width: 70px;
    height: 70px;
    background-image: url(images/Back.png);
    background-size: Cover;
    position: absolute;
    left: 32px;
    top: 32px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


/*Login Page*/

.main_Login{
    width:100%;
    height:1743px;
    background-color:#2e2e2e;
}

.AppLogoLoginContainer{
    width: 100%;
    height:600px;

}

.AppLogoLogin{
    width: 350px;
    height: 350px;
    margin: 0 auto;
    background-image: url(images/AppLogo.png);
    background-size: Cover;
    position: relative;
    top: 130px;
}

.EmailPassword{
    width: 100%;
    height:550px;
 
}

.Email{
    width: 80%;
    height: 150px;
    margin: 0 auto;
    border:0;
}

.Email input{
    width: 98%;
    height: 120px;
    background-color: #fff;
    border-style: solid;
    font-family: Arial;
    font-size: 36pt;
    color: #a4a4a4;
    border-width: 10px;
    border-color: transparent;
}

.Email input:focus{
    border-width: 10px;
    border-color: #1fbba6;
}

.Password{
    width: 80%;
    height: 150px;
    margin: 0 auto;
    position: relative;
    top: 50px;
}

.Password input{
    width: 98%;
    height: 120px;
    background-color: #fff;
    border-style: solid;
    font-family: Arial;
    font-size: 36pt;
    color: #a4a4a4;
    border-width: 10px;
    border-color: transparent;

}

.Password input:focus{
    border-width: 10px;
    border-color: #1fbba6;
}

.ShowPassword{
    width: 80%;
    height: 100px;
    margin: 0 auto;
    top: 80px;
    position: relative;
}

.ShowPassword label { 
    font-family: Helvetica;
    font-weight: bold;
    font-size: 26pt; 
    color:#7b7b7b;

}

.ShowPassword input[type="checkbox"]{
    display: none;
}

.ShowPassword input[type="checkbox"]+label {
    display: inline-block;
    width: 50%;
    position: relative;
}

.ShowPassword label::before {
    content: "";
    display: inline-block;
    width: 60px;
    height: 60px;
    background:url(images/UnShowPassword.png) no-repeat;
    background-size: Cover;
    vertical-align: middle;
    margin-right: 10px;
    -webkit-box-sizing:border-box;
}

.ShowPassword input[type="checkbox"]:checked+label::before{
    background:url(images/ShowPassword.png) no-repeat;
    background-size: Cover;
}

.ForgotPassword{
    font-family: Helvetica;
    font-weight: bold;
    font-size: 26pt; 
    color:#7b7b7b;
    float: right;
}

.LoginPageButton{
    width: 100%;
    height:500px;
    position: relative;
    margin:0 auto;
}

.LoginButton{
    width:80%;
    height: 150px;
    background-color: #fff;
    color:#1fbba6;
    font-family: Helvetica;
    font-size: 42pt;
    text-align: center;
    margin: 0 auto;
    line-height: 150px;
}

.CreateAccount{
    width:80%;
    height: 150px;
    background-color: #1fbba6;
    color:#FFF;
    font-family: Helvetica;
    font-size: 42pt;
    text-align: center;
    margin: 0 auto;
    line-height: 150px;
    position: relative;
    top:50px;
}

.SocialMediaAccount{
    width:80%;
    height: 180px;
    color:#FFF;
    font-family: Helvetica;
    font-size: 32pt;
    text-align: center;
    margin: 0 auto;
    line-height: 180px;
    position: relative;
    top:50px;
}





/*Creat Account*/
.SocailMedia{
    width: 80%;
    height: 280px;
    margin: 0 auto;
}

.AccountInfo{
    width: 80%;
    height: 1000px;
    margin: 0 auto;
}

.Submit{
    width: 80%;
    height: 390px;
    margin: 0 auto;
}

.SocailMediaTitle{
    width: 100%;
    height:100px;
    line-height: 100px;
    font-family: Helvetica;
    font-size:34pt;
    font-weight: bold;
    color:#1fbba6;
}

.SocailMediaButton{
    width: 80%;
    height: 180px;
    margin:0 auto;
}

.SocailMediaButton1{
    width: 20%;
    height: 125px;
    background:url(images/facebook.png) no-repeat;
    background-size: Cover;
    position: relative;
    float: left;
    top:10px;
}

.SocailMediaButton2{
    width: 20%;
    height: 125px;
    background: url(images/Instagram.png) no-repeat;
    background-size: Cover;
    position: relative;
    float: left;
    left: 20%;
    top:10px;
}

.SocailMediaButton3{
    width: 20%;
    height: 125px;
    background:url(images/googleplus.png) no-repeat;
    background-size: Cover;
    position: relative;
    float: left;
    left: 40%;
    top:10px;
}

.SocailMediaLine{
    width: 100%;
    height: 3px;
    background-color: #1fbba6;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.AccountInfoTitle{
    width: 100%;
    height:90px;
    line-height: 100px;
    font-family: Helvetica;
    font-size:26pt;
    font-weight: bold;
    color:#7b7b7b;
}

.AccountInfo input{
    width: 98%;
    height: 120px;
    background-color: #fff;
    border-style: solid;
    font-family: Arial;
    font-size: 36pt;
    color: #a4a4a4;
    border-width: 10px;
    border-color: transparent;
}
.AccountInfo input:focus{
    border-width: 10px;
    border-color: #1fbba6; 
}

.SubmitMoreEmail{
    width: 100%;
    height: 100px;
    margin: 0 auto;
    position: relative;
}

.SubmitMoreEmail label { 
    font-family: Helvetica;
    font-weight: bold;
    font-size: 26pt; 
    color:#7b7b7b;

}

.SubmitMoreEmail input[type="checkbox"]{
    display: none;
}

.SubmitMoreEmail input[type="checkbox"]+label {
    display: inline-block;
    width: 100%;
    position: relative;
}

.SubmitMoreEmail label::before {
    content: "";
    display: inline-block;
    width: 60px;
    height: 60px;
    background:url(images/UnShowPassword.png) no-repeat;
    background-size: Cover;
    vertical-align: middle;
    margin-right: 30px;
    -webkit-box-sizing:border-box;
}

.SubmitMoreEmail input[type="checkbox"]:checked+label::before{
    background:url(images/ShowPassword.png) no-repeat;
    background-size: Cover;
}

.SubmitButton{
    width:100%;
    height: 150px;
    background-color: #1fbba6;
    color:#FFF;
    font-family: Helvetica;
    font-size: 42pt;
    text-align: center;
    margin: 0 auto;
    line-height: 150px;
    position: relative;
}

.GoToLogin{
    width:100%;
    height: 180px;
    color:#FFF;
    font-family: Helvetica;
    font-size: 32pt;
    text-align: center;
    margin: 0 auto;
    line-height: 180px;
    position: relative;
}



/*Onboarding Q1*/

.Q1Container{
    width: 92%;
    height: 1100px;
    position: relative;
    top: 30px;
    margin-left: auto;
    margin-right: auto;
}

.Q1TitleContainer{
    width: 100%;
    height: 300px;
    background: #1fbba6;
    position: relative;
}

.Q1Title{
    font-family: Arial;
    font-size: 42pt;
    font-weight: bold;
    text-align: center;
    color: #1e5048;
    line-height: 70px;
    top: 85px;
    position: relative;
}

.Q1Background{
    width: 100%;
    height: 800px;
    background: #fff;
    position: relative;
}

.QuestionTitle{
    width: 100%;
    height:180px;
    position: relative;
    font-family: Arial;
    font-size: 42pt;
    text-align: center;
    color: #1e5048;
    line-height: 200px;
}

.Gernder{
    width: 100%;
    height:180px;
    position: relative;
    font-family: Arial;
    font-size: 40pt;
    text-align: center;
    color: #1e5048;
    line-height: 150px;
}

input[type='radio'].radio {
    opacity: 0;
    display: inline-block;
    height: 60px; 
}

label.radio {
    background: url(images/Radio.png) no-repeat;
    height: 60px;
    padding-left: 100px;
    margin-left: 60px;
    margin-right: 60px;
}

input[type='radio'].radio:checked + .radio {
    background:url(images/Radio_Check.png) no-repeat;
}

.Birth{
    width: 100%;
    height:200px;
    text-align: center;
    line-height: 210px;
}

.Birth input{
    width: 60%;
    height: 130px;
    background-color: #fff;
    border-style: solid;
    border-width: 5px;
    border-color: #338378;
    text-align: center;
    font-family: Arial;
    font-size: 50pt;
    color: #338378;
}

.Dots{
    width: 30%;
    height: 70px;
    position: relative;
    top: 100px;
    margin: 0 auto;
}

.DotSelect{
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background-color: #1fbba6;
    border-style: solid;
    border-width: 5px;
    border-color: #1fbba6;
    float: left;
}

.Dot1{
    border-radius: 50%;
    width: 25px;
    height: 25px;
    border-style: solid;
    border-width: 5px;
    border-color: #FFF;
    float: left;
    margin-left: 18%;
}

.Dot2{
    border-radius: 50%;
    width: 25px;
    height: 25px;
    border-style: solid;
    border-width: 5px;
    border-color: #FFF;
    float: left;
    margin-left: 18%;
}

.Dot3{
    border-radius: 50%;
    width: 25px;
    height: 25px;
    border-style: solid;
    border-width: 5px;
    border-color: #FFF;
    float: right;
}

.Next{
    width: 100%;
    height: 180px;
    top: 140px;
    position: relative;
}

.NextButton{
    width: 70%;
    height: 150px;
    color: #1e4f48;
    background-color: #1fbba6;
    border-style: solid;
    border-width: 15px;
    border-color: #fff;
    margin: 0 auto;
    font-family: Arial;
    font-size: 50pt;
    text-align: center;
    line-height: 150px;
}




/*Onboarding Q2*/
.Q2Dot1{
    border-radius: 50%;
    width: 25px;
    height: 25px;
    border-style: solid;
    border-width: 5px;
    border-color: #FFF;
    float: left;
}

.Q2DotSelect{
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background-color: #1fbba6;
    border-style: solid;
    border-width: 5px;
    border-color: #1fbba6;
    float: left;
    margin-left: 18%;
}

.Q2Dot2{
    border-radius: 50%;
    width: 25px;
    height: 25px;
    border-style: solid;
    border-width: 5px;
    border-color: #FFF;
    float: left;
    margin-left: 18%;
}

.Q2Dot3{
    border-radius: 50%;
    width: 25px;
    height: 25px;
    border-style: solid;
    border-width: 5px;
    border-color: #FFF;
    float: right;
}

#Q-container {
    margin: 0 auto;
    height: 700px;
    width: 80%;
    top: 65px;
    position: relative;
}
#accordion input {
    display: none;
}

#accordion label {
    width: 100%;
    height: 170px;
    line-height: 170px;
    font-size: 38pt;
    text-align: center;
    font-family: Arial;
    color:#1e4f48;
    border-radius: 0;
    border: 5px solid;
    border-color: #338378;
    display: block;
    margin-bottom: 65px;
}

#accordion input:checked + label {
    background: #338378;
    color: white;
}




/*Onboarding Q3*/

.Q3Dot1{
    border-radius: 50%;
    width: 25px;
    height: 25px;
    border-style: solid;
    border-width: 5px;
    border-color: #FFF;
    float: left;
}

.Q3Dot2{
    border-radius: 50%;
    width: 25px;
    height: 25px;
    border-style: solid;
    border-width: 5px;
    border-color: #FFF;
    float: left;
    margin-left: 18%;
}

.Q3DotSelect{
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background-color: #1fbba6;
    border-style: solid;
    border-width: 5px;
    border-color: #1fbba6;
    float: left;
    margin-left: 18%;
}

.Q3Dot3{
    border-radius: 50%;
    width: 25px;
    height: 25px;
    border-style: solid;
    border-width: 5px;
    border-color: #FFF;
    float: right;
}




/*Onboarding Q4*/

.Q4Title{
    font-family: Arial;
    font-size: 42pt;
    font-weight: bold;
    text-align: center;
    color: #1e5048;
    line-height: 70px;
    top: 50px;
    position: relative;
}

.Q4Dot1{
    border-radius: 50%;
    width: 25px;
    height: 25px;
    border-style: solid;
    border-width: 5px;
    border-color: #FFF;
    float: left;
}

.Q4Dot2{
    border-radius: 50%;
    width: 25px;
    height: 25px;
    border-style: solid;
    border-width: 5px;
    border-color: #FFF;
    float: left;
    margin-left: 18%;
}

.Q4Dot3{
    border-radius: 50%;
    width: 25px;
    height: 25px;
    border-style: solid;
    border-width: 5px;
    border-color: #FFF;
    float: left;
    margin-left: 18%;
}

.Q4DotSelect{
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background-color: #1fbba6;
    border-style: solid;
    border-width: 5px;
    border-color: #1fbba6;
    float: right;
}

.ReasonCheckbox { 
    width: 100%;
    height: 800px;
    position: relative;
    font-family: Arial;
    color: #1e5048;
    line-height: 125px;
}

.ReasonCheckbox label { 
    font-size: 40pt; 
}

.ReasonCheckbox input[type="checkbox"]{
    display: none;
}

.ReasonCheckbox input[type="checkbox"]+label {
    display: inline-block;
    width: 70%;
    margin: 0 auto;
    text-align: left;
    position: relative;
    left: 17%;
    top: 75px;
}

.ReasonCheckbox label::before {
    content: "";
    display: inline-block;
    width: 60px;
    height: 60px;
    background:url(images/Radio.png) no-repeat;
    vertical-align: middle;
    margin-right: 90px;
    -webkit-box-sizing:border-box;
}

.ReasonCheckbox input[type="checkbox"]:checked+label::before{
    background:url(images/Radio_Check.png) no-repeat;

}




/*My Account*/
.PhotoName{
    width: 100%;
    height: 600px;
    background-color: #338378;
}

.MyWorkoutInfo{
    width: 100%;
    height: 1010px;
    background-color: #fff;
}

.HeadShot{
    width: 270px;
    height: 270px;
    margin:0 auto;
    position: relative;
    top:100px;
    background:url(images/HeadShot.png) no-repeat;
    background-size: Cover;
}

.UserName{
    width: 100%;
    height: 100px;
    font-family: Helvetica;
    font-size: 48pt;
    text-align: center;
    line-height: 100px;
    color: #fff;
    position: relative;
    top:135px;
}

.MyWorkoutInfoTab{
    width: 90%;
    height: 100px;
    margin: 0 auto;
}

.MyWorkoutInfoTabButtonContainer1{
    width: 32%;
    height: 100px;
    float: left;
    text-align: center;
}

.MyWorkoutInfoTabButtonContainer2{
    width: 32%;
    height: 100px;
    float: left;
    position: relative;
    left:2%;
    text-align: center;
}

.MyWorkoutInfoTabButtonContainer3{
    width: 32%;
    height: 100px;
    float: left;
    position: relative;
    left:4%;
    text-align: center;
}

.MyWorkoutInfoTabButton{
    width: 100%;
    height: 100px;
    line-height: 100px;
    text-align: center;
    font-size: 26pt;
    font-family: Helvetica;
    color: #338378;
}

.MyWorkoutInfoSelectContainer{
    width: 90%;
    height:10px;
    margin: 0 auto;
}

.MyWorkoutInfoSelect{
    width: 32%;
    height: 10px;
    background-color: #1fbba6;
    position: relative;
}

.MyWorkoutInfoLine{
    width: 90%;
    height: 3px;
    background-color: #338378;
    position: relative;
    margin: 0 auto;
}

.MyWorkoutInfoDetail{
    width: 90%;
    height:200px;
    margin:0 auto;
}

.MyWorkoutInfoDetailName{
    width: 22%;
    height: 110px;
    font-size: 26pt;
    font-family: Helvetica;
    color: #338378;
    float: left;
    margin-top: 55px;
    margin-left: 5%;
}

.MyWorkoutInfoDetailName1{
    width: 22%;
    height: 110px;
    font-size: 26pt;
    font-family: Helvetica;
    color: #338378;
    float: left;
    margin-top: 40px;
    margin-left: 5%;
}

.MyWorkoutInfoDetailTime{
    width:20%;
    height: 110px;
    font-size: 26pt;
    font-family: Helvetica;
    color: #338378;
    float: right;
    margin-top: 55px;
    margin-right: 5%;
}

/*Courses*/

.main{
	height: 1870px;
	background-color: #338378;
	position: relative;
    top: 132px;
}

.main2{
    height: 1610px;
    background-color: #338378;
    position: relative;
    top: 132px;
}

.MyCoursesContainer{
	width: 92%;
	height:600px;
	position: relative;
	top: 30px;
	margin-left: auto;
    margin-right: auto;
}

.MyCoursesTitle{
    width: 100%;
    background: #1fbba6;
    font-family: Arial;
    font-size: 16pt;
    text-align: center;
    color: #FFF;
    position: relative;
    padding-top: 45px;
    padding-bottom: 45px;
}

.HomeLine{
    width: 100%;
    height: 15px;
    background: #1e5048;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.MyCoursesList{
    width: 100%;
    height: 420px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.MyCoursesListItem{
    width: 100%;
    background: #FFF;
    position: relative;
    padding-top: 45px;
    padding-bottom: 45px;
    margin-top: 10px;
}

.MyCoursesName{
    font-family: Arial;
    font-size: 26pt;
    color: #338378;
    padding-left: 40px;
    text-decoration: none;
}

.MyCoursesButton{
    width: 45px;
    height: 45px;
    background-image: url(images/CoursesDetialButton.png);
    background-size: Cover;
    position: absolute;
    right: 40px;
}

.MoreCoursesContainer{
	width: 92%;
	height:1050px;
	position: relative;
	top: 50px;
	margin-left: auto;
    margin-right: auto;
}

.MoreCoursesTitle{
    width: 100%;
    background: #1fbba6;
    font-family: Arial;
    font-size: 16pt;
    text-align: center;
    color: #FFF;
    position: relative;
    padding-top: 45px;
    padding-bottom: 45px;
}

.MoreCoursesList{
	width: 100%;
	height:1000px;
	margin-left: auto;
    margin-right: auto;
}

.MoreCoursesListItem{
    width: 420px;
    height: 420px;
    margin: 15px;
    float: left;
}

.MoreCoursesPic1{
	width: 420px;
    height: 420px;
    background-image: url(images/IG-Strength.jpg);
    background-size: Cover;
    position: absolute;
}

.MoreCoursesPic2{
	width: 420px;
    height: 420px;
    background-image: url(images/IG-Cardio.jpg);
    background-size: Cover;
    position: absolute;
}

.MoreCoursesPic3{
	width: 420px;
    height: 420px;
    background-image: url(images/IG-Stretching.jpg);
    background-size: Cover;
    position: absolute;
}

.MoreCoursesPic4{
	width: 420px;
    height: 420px;
    background-image: url(images/IG-Yoga.jpg);
    background-size: Cover;
    position: absolute;
}

.TabBar{
	width: 100%;
	height: 162px;
	background-color: #1e4f48;
	position:fixed;
    bottom:0;
}

.TabBarLine{
	width: 100%;
	height: 15px;
	background-color: #1fbba6;
}

.TabBarButtonContainer{
    width: 100%;
    height: 147px;
}

.TabBarButton{
	float: left;
	width: 25%;
    height: 147px;
}

.Courese{
    width: 100px;
    height: 100px;
    background-image: url(images/Courses.png);
    background-size: Cover;
    margin-top: 25px;
    position: absolute;
    margin-left: 7%;
    margin-right: 7%;
}

.MyPlan{
    width: 100px;
    height: 100px;
    background-image: url(images/MyPlan.png);
    background-size: Cover;
    margin-top: 25px;
    position: absolute;
    margin-left: 7%;
    margin-right: 7%;
}

.MyState{
    width: 100px;
    height: 100px;
    background-image: url(images/MyState.png);
    background-size: Cover;
    margin-top: 25px;
    position: absolute;
    margin-left: 7%;
    margin-right: 7%;
}

.Circle{
    width: 100px;
    height: 100px;
    background-image: url(images/Circle.png);
    background-size: Cover;
    margin-top: 25px;
    position: absolute;
    margin-left: 7%;
    margin-right: 7%;
}

.Courese_h{
    width: 100px;
    height: 100px;
    background-image: url(images/Courses_h.png);
    background-size: Cover;
    margin-top: 25px;
    position: absolute;
    margin-left: 7%;
    margin-right: 7%;
}

.MyPlan_h{
    width: 100px;
    height: 100px;
    background-image: url(images/MyPlan_h.png);
    background-size: Cover;
    margin-top: 25px;
    position: absolute;
    margin-left: 7%;
    margin-right: 7%;
}

.MyState_h{
    width: 100px;
    height: 100px;
    background-image: url(images/MyState_h.png);
    background-size: Cover;
    margin-top: 25px;
    position: absolute;
    margin-left: 7%;
    margin-right: 7%;
}

.Circle_h{
    width: 100px;
    height: 100px;
    background-image: url(images/Circle_h.png);
    background-size: Cover;
    margin-top: 25px;
    position: absolute;
    margin-left: 7%;
    margin-right: 7%;
}




/*My Plan*/

.MyPlanForTodayContainer{
	width: 92%;
    height: 750px;
    position: relative;
    top: 30px;
    margin-left: auto;
    margin-right: auto;
}

.MyPlanForTodayLine{
    width: 100%;
    height: 30px;
    background: #1fbba6;
    position: relative;
}

.MyPlanForTodayBackground{
	width:100%;
	height:720px;
	background-color: #fff;
	position: relative;
}

.MyPlanForTodayTitle{
	width: 100%;
	height: 195px;
	font-family: Arial;
	font-size: 28pt;
	font-weight: bold;
	text-align: center;
	color:#1e5048;
	line-height: 195px;
}

.MyPlanForTodayTitleLine{
    width: 84%;
    height: 3px;
    background-color: #1fbba6;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.MyPlanForTodayInfo{
	width: 70%;
	height: 375px;
    position: relative;
    margin: 0 auto;
}

.MyPlanForTodayInfoText{
    width: 70%;
    height: 300px;
    float: left;
    font-family: Arial;
    font-size: 26pt;
    color: #338378;
    padding-top: 45px;
}

.MyPlanForTodayButtonContainer{
    width: 40px;
    height: 320px;
    position: relative;
    float: right;
    margin-top: 45px;
}

.MyPlanForTodayButton{
    width: 60px;
    height: 60px;
    background-image: url(images/Check.png);
    background-size: cover;
    float: right;
    margin-bottom: 15px;
}

.MyPlanForTodayProgress{
	width: 84%;
	height: 150px;
    position: relative;
    margin: 0 auto;
}

.MyPlanForTodayProgressBackground{
	width: 100%;
	height:45px;
	background-color: #338373;
    position: relative;
    top: 10px;
}

.MyPlanForTodayProgressScale{
	width: 100%;
	height: 45px;
}

.I{
	width: 1px;
	height: 45px;
	background-color: #fff;
	margin-left: 3.1%;
	float: left;
}

.MyPlanForTodayProgressRed{
	width: 20%;
	height: 45px;
	background-color:#ff866e;
	position: absolute;
}

.MyPlanForTodayProgressText{
    width: 100%;
    height: 70px;
    position: relative;
    top: 30px;
}

.MyPlanForTodayProgressTextLeft{
    position: relative;
    float: left;
    font-family: Arial;
    font-size: 20pt;
    color: #338378;
}

.MyPlanForTodayProgressTextRight{
	position: relative;
    float: right;
    font-family: Arial;
    font-size: 20pt;
    color: #338378;
}

.StartContainer{
    width: 100%;
    height: 670px;
    position: relative;
    top: 30px;
}

.StartButtonContainer{
    width: 420px;
    height: 420px;
    position: relative;
    top: 90px;
    text-align: center;
    margin: 0 auto;
}

.StartButton{
    width: 420px;
    height: 420px;
    background-image: url(images/StartButton.png);
    background-size: Cover;
    float: left;
}

.CourseTime{
    width: 100%;
    height: 50px;
    font-family: Arial;
    font-size: 26pt;
    color: #fff;
    text-align: center;
    position: relative;
    top: 130px;
}




/*My Plan Video*/

.MyPlanVideo{
    width: 92%;
    height: 1150px;
    position: relative;
    top: 30px;
    margin:0 auto;
}

.VideoControl{
    width: 92%;
    height: 170px;
    position: relative;
    top: 35px;
    margin:0 auto;
    background-color: #1fbba6;
}

.MyPlanVideoLine{
    width: 100%;
    height: 30px;
    background: #1fbba6;
    position: relative;
}

.MyPlanVideoBackground{
    width: 100%;
    height: 1100px;
    background-color: #fff;
    position: relative;
}

.MyPlanVideoTitle{
    width: 100%;
    height: 100px;
    font-family: Tahoma;
    font-size: 44pt;
    color: #338378;
    text-align: center;
    position: relative;
    top: 30px;
}

.GetReady{
    width: 100%;
    height: 100px;
    font-family: Tahoma;
    font-size: 38pt;
    color: #ff866e;
    text-align: center;
    position: relative;
    top: 20px;
}

.Video{
    width: 90%;
    height: 500px;
    background-color: #1fbba6;
    margin: 0 auto;
    position: relative;
}


.VideoControlButton{
    width: 20%;
    height: 170px;
    float: left;
}

.PreviousVideo{
    width: 70px;
    height: 70px;
    background-image: url(images/previous.png);
    background-size: Cover;
    margin: 0 auto;
    position: absolute;
    margin-left: 6%;
    margin-top: 50px;
}

.PlayVideo{
    width: 70px;
    height: 70px;
    background-image: url(images/play.png);
    background-size: Cover;
    margin: 0 auto;
    position: absolute;
    margin-left: 6%;
    margin-top: 50px;
}

.NextVideo{
    width: 70px;
    height: 70px;
    background-image: url(images/next.png);
    background-size: Cover;
    margin: 0 auto;
    position: absolute;
    margin-left: 6%;
    margin-top: 50px;
}

.LikeVideo{
    width: 70px;
    height: 70px;
    background-image: url(images/like.png);
    background-size: Cover;
    margin: 0 auto;
    position: absolute;
    margin-left: 6%;
    margin-top: 50px;
}

.ShareVideo{
    width: 70px;
    height: 70px;
    background-image: url(images/share.png);
    background-size: Cover;
    margin: 0 auto;
    position: absolute;
    margin-left: 6%;
    margin-top: 50px;
}

.TimeSet{
    width: 100%;
    height: 170px;
    position: relative;
}

/*Timeset*/
.alert-box {
    display: none;
    position: relative;
    margin: 96px auto 0;
    padding: 180px 85px 22px;
    border-radius: 10px 10px 0 0;
    width: 286px;
    color: #FFF;
    text-align: center;
}

.alert-circle {
    position: absolute;
    top: -50px;
    left: 111px;
}
.alert-sec-circle {
    stroke-dashoffset: 0;
    stroke-dasharray: 735;
    transition: stroke-dashoffset 1s linear;
}
.alert-sec-text {
    position: absolute;
    top: 11px;
    left: 170px;
    width: 76px;
    color:#1fbba6;
    font-family: Arial;
    font-size: 75pt;
}
/*Timeset end*/

.NextNote{
    width: 94%;
    height: 50px;
    text-align: right;
    font-family: Gadugi;
    font-size: 30pt;
    color: #b5b5b5;
}

.NextCourseTitle{
    width: 94%;
    height: 50px;
    text-align: right;
    font-family: Arial;
    font-size: 36pt;
    color: #4d4d4d;
}




/*Workout Result*/
.CupIcon{
    width: 350px;
    height: 323px;
    background-image: url(images/Cup.png);
    background-size: Cover;
    margin: 0 auto;
    position: relative;
    top: 230px;
}

.WorkoutResult{
    width: 50%;
    height: 375px;
    position: relative;
    top:330px;
    margin: 0 auto;
}

.WorkoutResultText{
    width: 70%;
    height: 300px;
    float: left;
    font-family: Arial;
    font-size: 30pt;
    color: #fff;
    padding-top: 45px;
}

.WorkoutResultButtonContainer{
    width: 40px;
    height: 320px;
    position: relative;
    float: right;
    margin-top: 30px;
}

.WorkoutResultButton{
    width: 65px;
    height: 65px;
    background-image: url(images/checked.png);
    background-size: cover;
    float: right;
    margin-bottom: 25px;
}

.WorkoutResultProgress{
    width: 84%;
    height: 150px;
    position: relative;
    margin: 0 auto;
    top:500px;
}

.WorkoutResultProgressBackground{
    width: 100%;
    height: 45px;
    background-color: #fff;
    position: relative;
    top: 10px;
}

.WorkoutResultProgressRed{
    width: 26%;
    height: 45px;
    background-color: #ff866e;
    position: absolute;
}

.WorkoutResultProgressScale{
    width: 100%;
    height: 45px;
}

.i{
    width: 1px;
    height: 45px;
    background-color: #338378;
    margin-left: 3.1%;
    float: left;
}

.WorkoutResultProgressText{
    width: 100%;
    height: 70px;
    position: relative;
    top: 30px;
}

.WorkoutResultProgressTextLeft{
    position: relative;
    float: left;
    font-family: Arial;
    font-size: 25pt;
    color: #fff;
}

.WorkoutResultProgressTextRight{
    position: relative;
    float: right;
    font-family: Arial;
    font-size: 25pt;
    color: #fff;
}




/*My State*/

.MyStateContainer{
    width: 92%;
    height: 680px;
    position: relative;
    top: 30px;
    margin-left: auto;
    margin-right: auto;
}

.MyStateLine{
    width: 100%;
    height: 30px;
    background: #1fbba6;
    position: relative;
}

.MyStateBackground{
    width: 100%;
    height: 650px;
    background-color: #fff;
    position: relative;
}

.MyStateTitle{
    width: 50%;
    height: 195px;
    font-family: Arial;
    font-size: 28pt;
    font-weight: bold;
    color: #1e5048;
    position: absolute;
    margin-left: 8%;
    line-height: 220px;

}

.amendIconContainer{
    width: 50%;
    height: 195px;
    position: absolute;
    margin-left: 40%;
}

.amendIcon{
    width: 70px;
    height: 70px;
    background-image: url(images/amend.png);
    background-size: Cover;
    position: absolute;
    right: 0;
    top: 70px;
}

.MyStateTitleLine{
    width: 84%;
    height: 3px;
    background-color: #1fbba6;
    position: relative;
    top:195px;
    margin-left: auto;
    margin-right: auto;
}

.MyStateInfo{
    width: 84%;
    height: 375px;
    position: relative;
    top:195px;
    margin: 0 auto;
}

.MyStateText{
    width: 50%;
    height: 300px;
    float: left;
    font-family: Arial;
    font-size: 26pt;
    font-weight: bold;
    color: #338378;
    padding-top: 70px;
}

.MyStateInfoRight{
    width: 50%;
    height: 300px;
    float: left;
    font-family: Arial;
    font-size: 26pt;
    font-weight: bold;
    color: #338378;
    padding-top: 70px;
    text-align: right;
}

.MyChange{
    width: 92%;
    height: 620px;
    position: relative;
    margin:0 auto;
    top: 40px;
}

.MyChangeTitle{
    width: 50%;
    height: 150px;
    font-family: Arial;
    font-size: 32pt;
    font-weight: bold;
    color: #fff;
    position: absolute;
    line-height: 150px;

}

.MyChangePLayIconContainer{
    width: 50%;
    height: 150px;
    position: absolute;
    margin-left: 50%;
}

.MyChangePLayIcon{
    width: 70px;
    height: 70px;
    background-image: url(images/playVideo.png);
    background-size: Cover;
    position: absolute;
    right: 0;
    top: 40px;
}

.MyChangeImages{
    width: 100%;
    height: 500px;
    margin: 0 auto;
    position: relative;
    top:150px;
}

.Image1{
    width: 260px;
    height: 470px;
    float: left;
    background-image: url(images/GiFImages1.jpg);
    background-size: Cover;
}

.Image2{
    width: 260px;
    height: 470px;
    float: left;
    margin-left: 6%;
    background-image: url(images/GiFImages2.jpg);
    background-size: Cover;
}

.Image3{
    width: 260px;
    height: 470px;
    float: left;
    margin-left: 6%;
    background-image: url(images/GiFImages3.jpg);
    background-size: Cover;
}

.GIFImage {
    height: 1610px;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 134px;
    left: 0;
    overflow-x: hidden;
}

.GIFImageBG{
    height: 1610px;
    width: 100%;
    background-color: #000;
    opacity: 0.85;
    position: absolute;
}

.GIFImageInfo{
    width: 100%;
    height: 1100px;
    background-image: url(images/image1info.png);
    background-size: Cover;
    position: absolute;
    top: 230px;
}

.GIFImage a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

.GIFImage a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.GIFImage .closeGIFImagebtn {
    width:60px;
    height:75px;
    background-image: url(images/X.png);
    background-size: Cover;
    position: absolute;
    top: 70px;
    right: 45px;
    font-size: 36px;
    margin-left: 50px;
}

.GIFImage .nextGIFImagebtn {
    width: 30px;
    height: 50px;
    background-image: url(images/right.png);
    background-size: Cover;
    position: absolute;
    top: 750px;
    right: 10px;
    font-size: 36px;
}